.button {
	-fx-pref-width: 50px;
	-fx-pref-height: 60px;
	-fx-font-size: 20px;
	-fx-font-family: monospace;
	-fx-background-color: #696969;
	-fx-text-fill: #FFFFFF
}

.label {
	-fx-pref-width: 300px;
	-fx-pref-height: 50px;
	-fx-background-color: #696969;
	-fx-font-size: 20px;
	-fx-font-family: monospace;
	-fx-text-fill: #FFFFFF;

}