.button {
	-fx-pref-width: 50px;
	-fx-pref-height: 60px;
	-fx-font-size: 20px;
	-fx-font-family: monospace;
	-fx-background-color: #778899;
	-fx-text-fill: #FFFFFF
}

.button:hover {
	-fx-border-color: #87CEFA;
	-fx-border-width: 2px;
	-fx-border-style: dashed;
}

.button:pressed {
	-fx-border-style: solid;
}

.label {
	-fx-pref-width: 284px;
	-fx-pref-height: 50px;
	-fx-background-color: #778899;
	-fx-font-size: 20px;
	-fx-font-family: monospace;
	-fx-text-fill: #FFFFFF;
	-fx-border-color: #87CEFA;
	-fx-border-width: 3px;
	-fx-border-style: solid;
}